---
http_interactions:
- request:
    method: get
    uri: https://commons.wikimedia.org/w/api.php?action=query&format=json&prop=images&titles=plaques
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"plaques","to":"Plaques"}],"pages":{"2127987":{"pageid":2127987,"ns":0,"title":"Plaques"}}}}'
  recorded_at: Sat, 18 Jul 2015 10:43:00 GMT
recorded_with: VCR 2.9.3
