---
http_interactions:
- request:
    method: get
    uri: https://commons.wikimedia.org/w/api.php?action=query&format=json&iiprop=url%7Cextmetadata&prop=imageinfo%7Ccategories&titles=File:Vancouver_-_Gastown_Steam_Clock_plaque.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"File:Vancouver_-_Gastown_Steam_Clock_plaque.jpg","to":"File:Vancouver
        - Gastown Steam Clock plaque.jpg"}],"pages":{"-1":{"ns":6,"title":"File:Vancouver
        - Gastown Steam Clock plaque.jpg","missing":"","imagerepository":""}}}}'
  recorded_at: Thu, 23 Jul 2015 06:32:10 GMT
recorded_with: VCR 2.9.3
