---
http_interactions:
- request:
    method: get
    uri: https://commons.wikimedia.org/w/api.php?action=query&format=json&iiprop=url%7Cextmetadata&prop=imageinfo%7Ccategories&titles=File:Does_not_exist.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"File:Does_not_exist.jpg","to":"File:Does
        not exist.jpg"}],"pages":{"-1":{"ns":6,"title":"File:Does not exist.jpg","missing":"","imagerepository":""}}}}'
  recorded_at: Mon, 27 Jul 2015 17:14:38 GMT
recorded_with: VCR 2.9.3
