---
http_interactions:
- request:
    method: get
    uri: https://commons.wikimedia.org/w/api.php?action=query&format=json&iiprop=url%7Cextmetadata&prop=imageinfo%7Ccategories&titles=File:Jacob%25C3%25A4erschild_in_Bautzen.JPG
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"pages":{"-1":{"title":"File:Jacob%C3%A4erschild_in_Bautzen.JPG","invalidreason":"The
        requested page title contains invalid characters: \"%C3\".","invalid":""}}}}'
  recorded_at: Sun, 19 Jul 2015 11:11:52 GMT
recorded_with: VCR 2.9.3
